<div class="item-menu">
<div class="contain-item-menu" (click)="details()">
  <div class="item-burger">
    <div class="div-image">
      <!--  <img src="https://cdn.pixabay.com/photo/2015/05/31/16/03/teddy-bear-792273_1280.jpg" alt=""> -->
      <!-- <img src="https://www.themealdb.com/images/media/meals/1529445434.jpg" alt=""> -->
      <img src="{{ menusCatalogue.urlImage  }}" alt="{{ menusCatalogue.description }}">
    </div>
    <div class="show mb-0">
      <p class="card-tittle">{{ menusCatalogue.price }} FCFA</p>
      <div class="star mb-2">
        <i class="bi-star"></i>
        <i class="bi-star"></i>
        <i class="bi-star"></i>
        <i class="bi-star-fill"></i>
        <i class="bi-star-fill"></i>
      </div>
    </div>
  </div>
</div>
  <button class="btn btn-info btn-panier" routerLink="#" >ajouter au panier</button>
</div>
