.div-image{
  width: 200px;
  height: 200px;
}
.div-image img{
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.show{
  border: .1rem solid;
  width: 200px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.star{
  display: flex;
  justify-content: space-around;
}
.contain-item-menu{
margin: 5%;
  cursor: pointer;
}
.item-menu{
  position: relative;
}
.btn-panier{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #fff;
}
