  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">Brasil Burger</a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-auto" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="/" class="nav-item nav-link active">Home</a>
          <a href="commandes-client" class="nav-item nav-link active">Mes commandes</a>
          <a href="admin" class="nav-item nav-link active">ADMIN</a>
          <a href="all-commandes" class="nav-item nav-link active" tabindex="-1">toutes les commande</a>
        </div>
        <div class="navbar-nav ms-auto">
          <div>
            <span>
             <a href="/panier" class="btn btn-dark ">
                <i class="bi-cart-check m-1 fs-2"></i>
                  {{ (item$ | async)?.length }}
             </a>
            </span>
            <span>
              <a href="auth" class="btn btn-dark">
                <i class="bi-person m-1 fs-1 fs-2"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </nav>

