  <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">Brasil Burger</a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-auto" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="/" class="nav-item nav-link active">Home</a>
          <a href="commandes-client" class="nav-item nav-link active">Mes commandes</a>
          <a href="admin" class="nav-item nav-link active">ADMIN</a>
          <a href="all-commandes" class="nav-item nav-link active" tabindex="-1">toutes les commande</a>
        </div>
        <div class="navbar-nav ms-auto">
          <div>
            <span>
             <a href="/panier" class="btn btn-dark ">
                <i class="bi-cart-check m-1 fs-2"></i>
                  {{ (item$ | async)?.length }}
             </a>
            </span>
            <span>
              <div class="nav-item dropdown">
				<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action">
          <img src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg" class="avatar" alt="Avatar">
        </a>
				<div class="dropdown-menu">
					<a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
					<a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
					<a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
					<div class="divider dropdown-divider"></div>
					<a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
				</div>
			</div>

              <a href="auth/login" class="btn btn-dark">
                <i class="bi-person m-1 fs-1 fs-2"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </nav>

