<h2>Login</h2>
<form  [formGroup]="myForm" (ngSubmit)=login() >
  <div class="form-group">
    <label for="login">email</label>
    <input id="login" type="email"
           formControlName="login"
           class="form-control"
    />
    <div class="invalid-feedback">
      <div >Username is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password"
           class="form-control"
    />
    <div  class="invalid-feedback">
      <div >Password is required</div>
    </div>
  </div>
  <div class="form-group mt-4 ">
    <button class="btn btn-primary w-100">
      Login
    </button>
    <a href="auth/register" class="btn btn-light">Register</a>
  </div>
</form>
