<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-4 mb-sm-5">
        <div class="card card-style1 border-0">
          <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
            <div class="row align-items-center">
              <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
              </div>
              <div class="col-lg-6 px-xl-10">
                <div class="bg-secondary d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                  <h3 class="h2 text-white mb-0 fs-1">{{livreur?.prenom +" "+livreur?.nom}}</h3>
                </div>
                <ul class="list-unstyled mb-1-9 mt-3 fs-2">
                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Position:</span> Livreur </li>
                  <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span>{{livreur?.login}}</li>
                  <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Téléphone:</span>{{livreur?.telephone}}</li>
                </ul>
                <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                  <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
                  <li><a href="#!"><i class="ti-facebook"></i></a></li>
                  <li><a href="#!"><i class="ti-pinterest"></i></a></li>
                  <li><a href="#!"><i class="ti-instagram"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 mb-4 mb-sm-5">
        <div>
          <span class="section-title text-primary mb-3 mb-sm-4">About Me</span>
          <p>Edith is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<h2 class="text-center">les livraison effectuée par {{livreur?.prenom +" "+livreur?.nom}}</h2>
<table class="table table-hover">
  <tbody>
  <tr class="bg-success text-center">
    <td>numero livraison</td>
    <td>date livraison </td>
    <td>action</td>
    <td>nombre</td>
  </tr>
  <tr *ngFor="let livraison of toutesLeslivraison" class="text-center">
    <ng-template [ngIf]="livraison.commandes.length!=0">
    <td>{{livraison.id}}</td>
    <td>{{livraison.date |date :"dd/MM/yyyy hh:mm"}}</td>
    <td>
      <a href="admin/livraisons/{{livraison.id}}" class="btn btn-info m-2">detail</a>
    </td>
    <td>{{livraison.commandes.length}}</td>
   <!-- <td *ngFor="let commande of livraison.commandes"></td> -->
    </ng-template>
  </tr>
  </tbody>
</table>
