<h3 class="text-center">choisir le type de produit à insérer</h3>
<select class="form-select form-select-lg mb-3 fs-3" name="produit" #produit (click)="choisirProduit(produit)">
  <option disabled >selectionner le produit à insérer</option>
  <option></option>
  <option value="burgers">burger</option>
  <option value="menus">Menu</option>
  <option value="boissons">Boisson</option>
  <option value="frites">frite</option>
</select>

<form [formGroup]="myForm" (ngSubmit)="submit()">
  <div class="mb-3 mt-3">
    <label for="nom" class="form-label">nom produit</label>
    <input type="text" formControlName="nom" id="nom" class="form-control fs-3"  required>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">description du produit</label>
    <input type="text" formControlName="description"
           class="form-control fs-3" id="description"
           required>
  </div>
  <div class="mb-3">
    <label for="prix" class="form-label">prix du produit</label>
    <input type="number" formControlName="prix" class="form-control fs-3" id="prix" required>
  </div>
  <div class="mb-5">
    <label for="image" class="form-label">Choisir l'image</label>

    <input  class="form-control form-control-lg "
            formControlName="image" id="image"
            type="file" required
            accept="image/*"
           (change)="onFileChange($event)"
    >
  </div>
  <button class="btn btn-outline-dark w-100" style="height: 60px;">Submit</button>
</form>
