/* You can add global styles to this file, and also import other style files */
/* scroll */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background: linear-gradient(black, #bfbebe, black);
}
/* scroll */
