/* You can add global styles to this file, and also import other style files */
/* scroll */
*{
  margin: 0;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background: linear-gradient(black, #bfbebe, black);
}
/* scroll */
/*
@cette classe permet l'affichages des produit au niveau de catalogue et compliment
 */
.produit{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow-y: auto;
}
.detail-menu{
  display: flex;
  border: solid;
}

.div-image{
  width: 350px;
  height: 350px;
}
.div-image:hover img{
  scale: 1.1;
  z-index: 1;
}

.div-image img{
  height: 100%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.show{
  border: .1rem solid;
  width: 400px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.star{
  display: flex;
  justify-content: space-around;
}
.item-item-burger{
  border:solid;
}
.boisson{
  border: solid;
  width: 100%;
}
.item-item-burger{
  position: relative;
}
.btn-panier{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #fff;
  visibility: hidden;
  width: 100%;
  border-radius: 10px;
}
.item-item-burger:hover .btn-panier{
  visibility: visible;
}
.btn-commander{
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 50px;
}
